[Desktop Entry]
Type=Application
Name=Webex Web
GenericName=Video Conferencing
Comment=Webex web app in a dedicated window
Exec=webexweb %U
Icon=io.github.silverhadch.WebexWeb
Terminal=false
Categories=Network;InstantMessaging;VideoConference;
Keywords=webex;cisco;meeting;video;call;chat;
StartupNotify=true
StartupWMClass=io.github.silverhadch.WebexWeb
